In [112]:
import pandas as pd
df=pd.read_csv('/Users/bingqihou/Downloads/accountMessage.csv',index_col=0)
df

       0               1     2           3      4    5      6    7    8    9
\t
0    1.0    Mickey Mouse  56.0       70kgs  72.0    69  71.0     -    -    -
1    2.0    Donald Dunck  34.0   154.89lbs      -    -      -   85   84   76
2    3.0      Mini Mouse  16.0         NaN      -    -      -   65   69   72
3    4.0  Scrooge McDuck   NaN       78kgs     78   79     72    -    -    -
4    5.0    Pink Panther  54.0  198.658lbs      -    -      -   69  NaN   75
5    6.0    Huey  McDuck  52.0      189lbs      -    -      -   68   75   72
6    7.0    Dewey McDuck  19.0       56kgs      -    -      -   71   78   75
7    8.0      Scoopy Doo  32.0       78kgs  78.0    76  75.0     -    -    -
8    NaN             NaN   NaN         NaN    NaN  NaN    NaN  NaN  NaN  NaN
9    9.0    Huey  McDuck  52.0      189lbs      -    -      -   68   75   72
10  10.0    Louie McDuck  12.0       45kgs      -    -      -   92   95   87

In [113]:
df.rename(columns={'0':'Number','1':'Name','2':'Age','3':'Weight','4':'M1','5':'M2','6':'M3'
                  ,'7':'F1','8':'F2','9':'F3'},inplace=True)

In [114]:
rows_with_lbs=df['Weight'].str.contains('lbs').fillna(False)
df[rows_with_lbs]
for i,lbs_row in df[rows_with_lbs].iterrows():
    # 截取从头开始到倒数第三个字符之前，即去掉lbs
    weight=int(float(lbs_row['Weight'][:-3])/2.2)
    df.at[i,'Weight']='{}kgs'.format(weight)

In [121]:

df.dropna(how='all',inplace=True)
df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 10
Data columns (total 10 columns):
Number    10 non-null float64
Name      10 non-null object
Age       10 non-null float64
Weight    9 non-null object
M1        10 non-null object
M2        10 non-null object
M3        10 non-null object
F1        10 non-null object
F2        10 non-null object
F3        10 non-null object
dtypes: float64(2), object(8)
memory usage: 880.0+ bytes

In [118]:
df['Age'].fillna(df['Age'].mean(),inplace=True)

In [129]:
df['Age']=round(df['Age'],0)

In [130]:
df['Weight'].fillna(df['Weight'].value_counts().index[0],inplace=True)

In [131]:
df

    Number            Name   Age Weight     M1  M2     M3  F1   F2  F3
\t
0      1.0    Mickey Mouse  56.0  70kgs  72.0   69  71.0    -    -   -
1      2.0    Donald Dunck  34.0  70kgs      -   -      -  85   84  76
2      3.0      Mini Mouse  16.0  85kgs      -   -      -  65   69  72
3      4.0  Scrooge McDuck  36.0  78kgs     78  79     72   -    -   -
4      5.0    Pink Panther  54.0  90kgs      -   -      -  69  nan  75
5      6.0    Huey  McDuck  52.0  85kgs      -   -      -  68   75  72
6      7.0    Dewey McDuck  19.0  56kgs      -   -      -  71   78  75
7      8.0      Scoopy Doo  32.0  78kgs  78.0   76  75.0    -    -   -
9      9.0    Huey  McDuck  52.0  85kgs      -   -      -  68   75  72
10    10.0    Louie McDuck  12.0  45kgs      -   -      -  92   95  87

In [132]:
df[['First_name','Last_name']]=df['Name'].str.split(expand=True)
df.drop(['Name'],axis=1,inplace=True)
df

    Number   Age Weight     M1  M2     M3  F1   F2  F3 First_name Last_name
\t
0      1.0  56.0  70kgs  72.0   69  71.0    -    -   -     Mickey     Mouse
1      2.0  34.0  70kgs      -   -      -  85   84  76     Donald     Dunck
2      3.0  16.0  85kgs      -   -      -  65   69  72       Mini     Mouse
3      4.0  36.0  78kgs     78  79     72   -    -   -    Scrooge    McDuck
4      5.0  54.0  90kgs      -   -      -  69  nan  75       Pink   Panther
5      6.0  52.0  85kgs      -   -      -  68   75  72       Huey    McDuck
6      7.0  19.0  56kgs      -   -      -  71   78  75      Dewey    McDuck
7      8.0  32.0  78kgs  78.0   76  75.0    -    -   -     Scoopy       Doo
9      9.0  52.0  85kgs      -   -      -  68   75  72       Huey    McDuck
10    10.0  12.0  45kgs      -   -      -  92   95  87      Louie    McDuck

In [133]:
df.drop_duplicates(['First_name','Last_name'],inplace=True)

In [134]:
df

    Number   Age Weight     M1  M2     M3  F1   F2  F3 First_name Last_name
\t
0      1.0  56.0  70kgs  72.0   69  71.0    -    -   -     Mickey     Mouse
1      2.0  34.0  70kgs      -   -      -  85   84  76     Donald     Dunck
2      3.0  16.0  85kgs      -   -      -  65   69  72       Mini     Mouse
3      4.0  36.0  78kgs     78  79     72   -    -   -    Scrooge    McDuck
4      5.0  54.0  90kgs      -   -      -  69  nan  75       Pink   Panther
5      6.0  52.0  85kgs      -   -      -  68   75  72       Huey    McDuck
6      7.0  19.0  56kgs      -   -      -  71   78  75      Dewey    McDuck
7      8.0  32.0  78kgs  78.0   76  75.0    -    -   -     Scoopy       Doo
10    10.0  12.0  45kgs      -   -      -  92   95  87      Louie    McDuck

In [141]:
# 移动first_name和last_name这俩列
first_name=df.pop('First_name')
df.insert(1,'First_name',first_name)
last_name=df.pop('Last_name')
df.insert(2,'Last_name',last_name)

In [142]:
df

    Number First_name Last_name   Age Weight     M1  M2     M3  F1   F2  F3
\t
0      1.0     Mickey     Mouse  56.0  70kgs  72.0   69  71.0    -    -   -
1      2.0     Donald     Dunck  34.0  70kgs      -   -      -  85   84  76
2      3.0       Mini     Mouse  16.0  85kgs      -   -      -  65   69  72
3      4.0    Scrooge    McDuck  36.0  78kgs     78  79     72   -    -   -
4      5.0       Pink   Panther  54.0  90kgs      -   -      -  69  nan  75
5      6.0       Huey    McDuck  52.0  85kgs      -   -      -  68   75  72
6      7.0      Dewey    McDuck  19.0  56kgs      -   -      -  71   78  75
7      8.0     Scoopy       Doo  32.0  78kgs  78.0   76  75.0    -    -   -
10    10.0      Louie    McDuck  12.0  45kgs      -   -      -  92   95  87